.sider 
  .inner-menu 
    ul 
      li 
        a(href=`/my-course`) Khoá học của tôi
      li 
        a(href=`/my-course/studying`) Đang học
      li 
        a(href=`/my-course/studyed`) Đã hoàn thành
      li 
        a(href=`/exam`) Thi thử
      li 
        a(href=`/my-course/task`) Bài tập