.KHOA-HOC-CUA-TOI {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.KHOA-HOC-CUA-TOI .div-3 {
  height: 1623px;
  position: relative;
  width: 1728px;
}

.KHOA-HOC-CUA-TOI .overlap-2 {
  height: 1122px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1728px;
}

.KHOA-HOC-CUA-TOI .BG {
  height: 1117px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1728px;
}

.KHOA-HOC-CUA-TOI .group-2 {
  height: 1033px;
  left: 0;
  position: absolute;
  top: 89px;
  width: 1728px;
}

.KHOA-HOC-CUA-TOI .TASK-BAR-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 293px !important;
}

.KHOA-HOC-CUA-TOI .frame-6 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(20px) brightness(100%);
  background-color: #ffffff1a;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 1030px;
  left: 298px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 50px 67px 50px 52px;
  position: absolute;
  top: 0;
  width: 1430px;
}

.KHOA-HOC-CUA-TOI .button-9 {
  -webkit-backdrop-filter: blur(200px) brightness(100%);
  align-items: center;
  align-self: stretch;
  backdrop-filter: blur(200px) brightness(100%);
  background-color: #ffffff26;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 12px;
  position: relative;
  width: 100%;
}

.KHOA-HOC-CUA-TOI .material-symbols-light-search {
  height: 30px !important;
  position: relative !important;
  width: 30px !important;
}

.KHOA-HOC-CUA-TOI .text-button-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.KHOA-HOC-CUA-TOI .button-10 {
  all: unset;
  box-sizing: border-box;
  color: #ffffffcc;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.KHOA-HOC-CUA-TOI .frame-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 81px 81px;
  padding: 0px 0px 40px;
  position: relative;
  width: 100%;
}

.KHOA-HOC-CUA-TOI .footer-instance {
  left: 0 !important;
  position: absolute !important;
  top: 1123px !important;
}

.KHOA-HOC-CUA-TOI .design-component-instance-node {
  border-color: unset !important;
}

.KHOA-HOC-CUA-TOI .footer-2 {
  height: 39px !important;
  left: -2px !important;
  top: -2px !important;
  width: 43px !important;
}

.KHOA-HOC-CUA-TOI .footer-3 {
  border-color: unset !important;
  height: 39px !important;
  width: 43px !important;
}

.KHOA-HOC-CUA-TOI .footer-4 {
  left: 18px !important;
  top: 13px !important;
}

.KHOA-HOC-CUA-TOI .navigation-2 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(20px) brightness(100%);
  background-color: #ffffff1a;
  display: flex;
  gap: 10px;
  height: 85px;
  left: 0;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  width: 1728px;
}

.KHOA-HOC-CUA-TOI .web-name {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 12px;
  position: relative;
}

.KHOA-HOC-CUA-TOI .button-11 {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Squada One", Helvetica;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 60px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.KHOA-HOC-CUA-TOI .task-bar {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  position: relative;
}

.KHOA-HOC-CUA-TOI .BG-2 {
  background-color: #cff500;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 166px;
}

.KHOA-HOC-CUA-TOI .text-button-wrapper-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 20px;
  position: relative;
}

.KHOA-HOC-CUA-TOI .button-12 {
  all: unset;
  box-sizing: border-box;
  color: #131313;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.KHOA-HOC-CUA-TOI .button-13 {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.KHOA-HOC-CUA-TOI .CSS {
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  padding: 12px 20px;
  position: relative;
}

.KHOA-HOC-CUA-TOI .NGI-DNG {
  height: 56px;
  position: relative;
  width: 75px;
}

.KHOA-HOC-CUA-TOI .image-2 {
  height: 56px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 56px;
}

.KHOA-HOC-CUA-TOI .polygon {
  height: 6px;
  left: 60px;
  position: absolute;
  top: 30px;
  width: 14px;
}
