.component {
  height: 40px;
  position: relative;
  width: 227px;
}

.component .about-us {
  color: #ffffff;
  font-family: "Be Vietnam Pro", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 30px;
  left: 21px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 191px;
}
