.banner-kh-a-h-c {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 20px 40px;
  position: relative;
}

.banner-kh-a-h-c .ANH {
  align-self: stretch;
  height: 242.45px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.banner-kh-a-h-c .GIA-TIEN {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 58px;
  padding: 10px 12px;
  position: relative;
  width: 100%;
}

.banner-kh-a-h-c .GIA-TIEN-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  height: 20px;
  padding: 0px 12px;
  position: relative;
}

.banner-kh-a-h-c .button-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: -6.00px;
  margin-top: -6.00px;
  position: relative;
  width: 140px;
}

.banner-kh-a-h-c .button-3 {
  all: unset;
  box-sizing: border-box;
  color: #df322b;
  font-family: "Montserrat", Helvetica;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: -17.50px;
  margin-right: -17.50px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.banner-kh-a-h-c .GIA-TIEN-3 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 12px;
  justify-content: flex-end;
  padding: 0px 12px;
  position: relative;
}

.banner-kh-a-h-c .text-button-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
}

.banner-kh-a-h-c .button-4 {
  all: unset;
  box-sizing: border-box;
  color: #e24943;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.banner-kh-a-h-c .button-5 {
  all: unset;
  align-items: center;
  align-self: stretch;
  background-color: #cff500;
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  height: 60px;
  justify-content: center;
  padding: 20px 12px;
  position: relative;
  width: 100%;
}

.banner-kh-a-h-c .text-button-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.banner-kh-a-h-c .button-6 {
  all: unset;
  box-sizing: border-box;
  color: #000000;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.banner-kh-a-h-c .THONG-TIN {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 12px;
  position: relative;
  width: 100%;
}

.banner-kh-a-h-c .t-n {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 12px;
  height: 100px;
  padding: 20px 0px;
  position: relative;
  width: 100%;
}

.banner-kh-a-h-c .text-button-4 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.banner-kh-a-h-c .p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* WebKit-specific */
  line-clamp: 2; /* Standard, not widely supported */
  overflow: hidden; /* Fallback for non-supporting browsers */
  text-overflow: ellipsis;
  color: #ffffff;
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
}


.banner-kh-a-h-c .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.banner-kh-a-h-c .thoi-gian {
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.banner-kh-a-h-c .element-tieng {
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.banner-kh-a-h-c .b-i-gi-ng {
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.banner-kh-a-h-c .element {
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.banner-kh-a-h-c .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.banner-kh-a-h-c .th-i-l-ng {
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.banner-kh-a-h-c .element-ph-t {
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.banner-kh-a-h-c .text-wrapper-2 {
  color: #131313;
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.banner-kh-a-h-c .text-wrapper-3 {
  color: #000000;
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.banner-kh-a-h-c .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.banner-kh-a-h-c .button-7 {
  all: unset;
  align-items: center;
  align-self: stretch;
  background-color: #cff500;
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  height: 60px;
  justify-content: center;
  margin-bottom: -21.45px;
  padding: 20px 12px;
  position: relative;
  width: 100%;
}

.banner-kh-a-h-c.chua-mua-2-hover {
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  backdrop-filter: blur(60px) brightness(100%);
  background-color: #00000026;
  height: 603px;
  width: 383px;
}

.banner-kh-a-h-c.ch-a-mua {
  background-color: #ffffff;
  height: 800px;
  width: 437px;
}

.banner-kh-a-h-c.mua {
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  backdrop-filter: blur(60px) brightness(100%);
  background-color: #ffffff1a;
  height: 603px;
  width: 383px;
}

.banner-kh-a-h-c.CHUA-MUA-2 {
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  backdrop-filter: blur(60px) brightness(100%);
  background-color: #ffffff1a;
  height: 603px;
  width: 383px;
}

.banner-kh-a-h-c.chua-mua-2-hover .THONG-TIN {
  gap: 16px;
}

.banner-kh-a-h-c.ch-a-mua .THONG-TIN {
  gap: 20px;
}

.banner-kh-a-h-c.mua .THONG-TIN {
  gap: 16px;
}

.banner-kh-a-h-c.CHUA-MUA-2 .THONG-TIN {
  gap: 16px;
}

.banner-kh-a-h-c.chua-mua-2-hover .thoi-gian {
  color: #ffffff;
  font-weight: 400;
}

.banner-kh-a-h-c.ch-a-mua .thoi-gian {
  color: #131313;
  font-weight: 500;
}

.banner-kh-a-h-c.mua .thoi-gian {
  color: #ffffff;
  font-weight: 500;
}

.banner-kh-a-h-c.CHUA-MUA-2 .thoi-gian {
  color: #ffffff;
  font-weight: 400;
}

.banner-kh-a-h-c.chua-mua-2-hover .element-tieng {
  color: #ffffff;
}

.banner-kh-a-h-c.ch-a-mua .element-tieng {
  color: #000000;
}

.banner-kh-a-h-c.mua .element-tieng {
  color: #ffffff;
}

.banner-kh-a-h-c.CHUA-MUA-2 .element-tieng {
  color: #ffffff;
}

.banner-kh-a-h-c.chua-mua-2-hover .b-i-gi-ng {
  color: #ffffff;
  font-weight: 400;
}

.banner-kh-a-h-c.ch-a-mua .b-i-gi-ng {
  color: #131313;
  font-weight: 500;
}

.banner-kh-a-h-c.mua .b-i-gi-ng {
  color: #ffffff;
  font-weight: 500;
}

.banner-kh-a-h-c.CHUA-MUA-2 .b-i-gi-ng {
  color: #ffffff;
  font-weight: 400;
}

.banner-kh-a-h-c.chua-mua-2-hover .element {
  color: #ffffff;
}

.banner-kh-a-h-c.ch-a-mua .element {
  color: #000000;
}

.banner-kh-a-h-c.mua .element {
  color: #ffffff;
}

.banner-kh-a-h-c.CHUA-MUA-2 .element {
  color: #ffffff;
}

.banner-kh-a-h-c.chua-mua-2-hover .frame {
  gap: 10px;
}

.banner-kh-a-h-c.ch-a-mua .frame {
  gap: 20px;
}

.banner-kh-a-h-c.mua .frame {
  gap: 10px;
}

.banner-kh-a-h-c.CHUA-MUA-2 .frame {
  gap: 10px;
}

.banner-kh-a-h-c.chua-mua-2-hover .th-i-l-ng {
  color: #ffffff;
  font-weight: 400;
}

.banner-kh-a-h-c.ch-a-mua .th-i-l-ng {
  color: #131313;
  font-weight: 500;
}

.banner-kh-a-h-c.mua .th-i-l-ng {
  color: #ffffff;
  font-weight: 500;
}

.banner-kh-a-h-c.CHUA-MUA-2 .th-i-l-ng {
  color: #ffffff;
  font-weight: 400;
}

.banner-kh-a-h-c.chua-mua-2-hover .element-ph-t {
  color: #ffffff;
}

.banner-kh-a-h-c.ch-a-mua .element-ph-t {
  color: #000000;
}

.banner-kh-a-h-c.mua .element-ph-t {
  color: #ffffff;
}

.banner-kh-a-h-c.CHUA-MUA-2 .element-ph-t {
  color: #ffffff;
}
