.TASK-BAR {
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(60px) brightness(100%);
  background-color: #ffffff08;
  display: flex;
  flex-direction: column;
  gap: 27px;
  height: 1033px;
  padding: 20px 0px;
  position: relative;
  width: 292px;
}

.TASK-BAR .ng-i-d-ng {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.TASK-BAR .image {
  height: 62px;
  object-fit: cover;
  position: relative;
  width: 64px;
}

.TASK-BAR .tt-ng-i-d-ng {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  position: relative;
}

.TASK-BAR .button {
  all: unset;
  align-items: flex-end;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 0px 12px;
  position: relative;
  width: 100%;
}

.TASK-BAR .text-button {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.TASK-BAR .text-wrapper {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
}

.TASK-BAR .div {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
}

.TASK-BAR .KH-a-h-c {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.TASK-BAR .text-button-wrapper {
  all: unset;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  height: 78px;
  padding: 20px 24px;
  position: relative;
  width: 100%;
}

.TASK-BAR .button-2 {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
}

.TASK-BAR .div-wrapper {
  all: unset;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  height: 77px;
  padding: 20px 24px;
  position: relative;
  width: 100%;
}
